/* ACCUEIL -------------------------------------------------------------- */

#accueilBackground {
    width: 100vw;
    height: 100vh;
    /* background-image: url(/img/planete.jpg); */
    background: linear-gradient(to bottom, transparent, 85%, rgb(0, 0, 0)),
    url("/img/planete.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positionH1 {
    width: 100%;
    height: 85%;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.alien {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    letter-spacing: 35px;
}

.isolation {
    width: 65%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    letter-spacing: 35px;
}

h1 {
    font-size: 2em;
}

.cercle {
    position: absolute;
    width: 20px;
    height: 20px;
    clip-path: circle(7px);
    left: 960px;
    top: 350px;
    background-color: white;
}

.line1 {
    position: absolute;
    width: 46px;
    height: 0.2%;
    left: 975px;
    top: 330px;
    transform: rotate(-45deg);
    border-radius: 2px;
    background-color: white;
}

.line2 {
    position: absolute;
    width: 75px;
    height: 0.2%;
    left: 1013px;
    top: 314px;
    border-radius: 2px;
    background-color: white;
}

.accueilP {
    font-size: 12px;
    position: absolute;
    left: 1120px;
    top: 306px;
}

main {
    width: 100%;
    height: 550%;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.mainAccueil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: green; */
}

.embarquez {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, transparent, 95%, rgb(0, 0, 0)),
    url("/img/station-spatial-blue.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.incarnez {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, transparent, 95%, rgb(0, 0, 0)),
    url("/img/ripley.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
}

.explorez {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, transparent, 95%, rgb(0, 0, 0)),
    url("/img/exploration.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.seCacher {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, transparent, 95%, rgb(0, 0, 0)),
    url("/img/alien-isolation-affiche.webp");
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
}

.affrontez {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, transparent, 95%, rgb(0, 0, 0)),
    url("/img/couloir-alien-red.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.embarquezPosition,
.explorezPosition,
.affrontezPosition {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.incarnezPosition,
.seCacherPosition {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.embarquezPositionCenter,
.incarnezPositionCenter,
.explorezPositionCenter,
.seCacherPositionCenter,
.affrontezPositionCenter  {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    position: relative;
    top: -10%;
    font-size: 2.5em;
    -webkit-text-stroke: 1px black;
}

.embarquez img,
.explorez img,
.affrontez img,
.incarnez img,
.seCacher img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border: 0.5px solid white;
    border-radius: 10px 10px 10px 10px;
}

.incarnez img,
.seCacher img {
    object-position: right;
}

.seCacherPositionLeft,
.incarnezPositionLeft,
.embarquezPositionRight,
.explorezPositionRight,
.affrontezPositionRight {
    width: 50%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 2em;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

.footer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 90%;
    height: 90%;
    display: flex;
    border: 0.5px solid white;
    border-radius: 5px;
}

.footerImg {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerImg img {
    width: 100%;
    height: 75%;
    object-fit: contain;
    /* background-color: red; */
}

.footerNav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.footerNav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footerNav ul li {
    width: 25%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 0px 5px 0px 5px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    font-size: 0.5em
}

.logos {
    width: 20%;
    height: 100%;
    display: flex;
}

.logos a {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.logos img {
    width: 50%;
    height: 100%;
    object-fit: contain;
}