/* ACCUEIL -------------------------------------------------------------- */

#accueilBackground {
    width: 100vw;
    height: 100vh;
    /* background-image: url(/img/planete.jpg); */
    background: linear-gradient(to bottom, transparent, 85%, rgb(0, 0, 0)),
    url("/img/planete.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.positionH1 {
    width: 100%;
    height: 85%;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.alien {
    font-size: 0.9em;
    letter-spacing: 35px;
    width: 45%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isolation {
    font-size: 0.9em;
    letter-spacing: 35px;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-size: 2em;
}

.cercle {
    position: absolute;
    width: 20px;
    height: 20px;
    clip-path: circle(7px);
    left: 1105px;
    top: 350px;
    background-color: white;
}

.line1 {
    position: absolute;
    width: 46px;
    height: 0.2%;
    left: 1120px;
    top: 330px;
    transform: rotate(-45deg);
    border-radius: 2px;
    background-color: white;
}

.line2 {
    position: absolute;
    width: 75px;
    height: 0.2%;
    left: 1158px;
    top: 314px;
    border-radius: 2px;
    background-color: white;
}

.accueilP {
    font-size: 12px;
    position: absolute;
    left: 1250px;
    top: 306px;
}



main {
    width: 100%;
    height: 200%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.mainAccueil {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stationSpatialBlue,
.alienIsolationAffiche,
.couloirAlienRed {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stationSpatialBlue h2,
.alienIsolationAffiche h2,
.couloirAlienRed h2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stationSpatialBlue img,
.alienIsolationAffiche img,
.couloirAlienRed img {
    width: 50%;
    height: 100%;
    object-fit: contain;
    /* border: 0.5px solid white; */
    /* background-color: blue; */
}

/* CONTACT -------------------------------------------------------------- */

#contactBackground {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/contact-ripley.png);
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerForm {
    position: relative;
    left: 10%;
    top: -5%;
    /* width: 30%; */
    width: clamp(300px, 35%, 35%);
    height: clamp(500px, 80%,80%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    backdrop-filter: blur(10%);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 7px;
}

form {
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input1,
.input2,
.input5 {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input1 input,
.input2 input,
.input5 input {
    width: 48%;
    height: 100%;
    padding-left: 10px;
    border-radius: 5px 0px 5px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.input1 input:hover,
.input2 input:hover,
.input5 input:hover,
.input3 input:hover,
.input4 input:hover,
.inputComment input:hover {
    border: 0.5px solid white;
}

.input3,
.input4 {
    width: 100%;
    height: 7%;
}

.input3 input,
.input4 input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 5px 0px 5px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.inputComment  {
    width: 100%;
    height: 15%;
}

.inputComment input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 10px 0px 10px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.input7 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input7 input {
    width: 45%;
    height: 90%;
    border-radius: 0px 5px 0px 5px;
    background-color: transparent;
    backdrop-filter: blur(100%);
    -webkit-backdrop-filter: blur(100px);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.input7 input:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border: 0.5px solid white;
}

.containerP {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: green; */
}

.positionP {
    /* background-color: blue; */
    width: 50%;
    height: 70%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.positionP p {
    font-size: 0.7em;
    opacity: 0.7;
}

/* .name::before {
    content: '';
    position: absolute;
    z-index: 2;
    transform: rotate(90deg);
    top: 1.7%;
    left: 36.1%;
    width: 4.4%;
    height: 15.1%;
    border-top: 0.2px solid white;
    border-left: 0.2px solid white;
    background-color: red;
}

.input1::after {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(270deg);
    top: 4.1%;
    left: 17.7%;
    width: 4.4%;
    height: 15.1%;
    border-top: 0.2px solid white;
    border-left: 0.2px solid white;
}

.input2::before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(90deg);
    top: 1.7%;
    left: 77.8%;
    width: 4.4%;
    height: 15.1%;
    border-top: 0.2px solid white;
    border-left: 0.2px solid white;
}

.input2::after {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(270deg);
    top: 4.1%;
    left: 59.3%;
    width: 4.4%;
    height: 15.1%;
    border-top: 0.2px solid white;
    border-left: 0.2px solid white;
}

.input3::before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(90deg);
    top: 13.3%;
    left: 36.1%;
    width: 4.4%;
    height: 15.1%;
    border-top: 0.2px solid white;
    border-left: 0.2px solid white;
}

.input3::after {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(270deg);
    top: 15.7%;
    left: 17.7%;
    width: 4.4%;
    height: 15.1%;
    border-top: 0.2px solid white;
    border-left: 0.2px solid white;
}

.input4::before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(90deg);
    top: 13.3%;
    left: 77.8%;
    width: 4.4%;
    height: 15.1%;
    border-top: 0.2px solid white;
    border-left: 0.2px solid white;
}

.input4::after {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(270deg);
    top: 15.7%;
    left: 59.3%;
    width: 4.4%;
    height: 15.1%;
    border-top: 0.2px solid white;
    border-left: 0.2px solid white;
} */

/* BOUTIQUE -------------------------------------------------------------- */

#boutiqueBackground {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/station-spatial-green.jpeg);
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boutique {
    border-top-right-radius: 7px;
}

.notification {
    position: absolute;
    width: 2%;
    height: 2%;
    clip-path: circle(7px);
    top: 9.3%;
    left: 91.2%;
    background-color: red;
}

.panierGlobal {
    position: relative;
    top: -15%;
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    /* background-color:red; */
}

.selectionJeux {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
}

.backJeux {
    width: 30%;
    height: 30%;
}

.backJeuxCote {
    width: 25%;
    height: 25%;
}

.backJeuxCote,
.backJeux {
    border-radius: 5px;
    border: 0.5px solid white;
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.backJeuxCote,
.backJeux {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectionJeux article {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectionJeux article img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.panier {
    position: absolute;
    z-index: 2;
    top: 4%;
    left: 53%;
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 0.2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.h1 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banniere {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    border: 0.2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.banniere p {
    font-size: 0.7em;
}

.ripley {
    position: relative;
    top: -65%;
    left: 50%;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ripley img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}