#boutiqueBackground {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/station-spatial-green.jpeg);
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boutique {
    border-top-right-radius: 7px;
}

.notification {
    position: absolute;
    width: 2%;
    height: 2%;
    clip-path: circle(7px);
    top: 9.3%;
    left: 91.2%;
    background-color: red;
}

.panierGlobal {
    position: relative;
    top: -15%;
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    /* background-color:red; */
}

.selectionJeux {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
}

.backJeux {
    width: 30%;
    height: 30%;
}

.backJeuxCote {
    width: 25%;
    height: 25%;
}

.backJeuxCote,
.backJeux {
    border-radius: 5px;
    border: 0.5px solid white;
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.backJeuxCote,
.backJeux {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectionJeux article {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectionJeux article img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.panier {
    position: absolute;
    z-index: 2;
    top: 4%;
    left: 53%;
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 0.2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.h1 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banniere {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    border: 0.2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.banniere p {
    font-size: 0.7em;
}

.ripley {
    position: relative;
    top: -65%;
    left: 50%;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ripley img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}